<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <div>
        <form action="/book/new" method="POST">
            <h2>New Book</h2>
            <label for="title">Title:</label>
            <input type="text" name="title">
            <label for="num_of_pages">Number of Pages:</label>
            <input type="text" name="num_of_pages">
            <input type="submit" name="Submit Book">
        </form>
    </div>
    <div>
        <h2>All Books</h2>
        {% for book in books %}
        <p><a href="/book/<int:id>">{{book.title}}</a></p>
        {% endfor %}
    </div>
    <button><a href="/authors">home</a></button>
</body>
</html>